<h1>admin_review一覧</h1>
<br><%= @user.family_name %> <%= @user.personal_name %></br>
<br><%= @user.nickname %></br>
<br>タイトル</br>
<br><%= @review.review_title %></br>
<br>内容</br>
<br><%= @review.review_body%></br>