<h1>テニスコート一覧</h1>

    <table>
      <br>
      <thead>
          <tr>
            <th></th>
            <th>施設名</th>
            <th>数施設情報</th>
            <th>レビュー件数</th>
            <th>レビューする</th>
            <th>レビュー一覧</th>
          </tr>
      </thead>

        <tbody>
          <% @tennis_courts.each do |tennis_court| %>
          <tr>
            <td><%= image_tag(tennis_court.image.attached? ? tennis_court.image : asset_url('no_image.jpg'), size: '100x100') %> </td>
            <td><%= tennis_court.name %></td>
            <td><%= tennis_court.explanation %></td>
            <td><%= tennis_court.reviews.count %> 件</td>
            <td><%= link_to "レビューする", new_review_path(tennis_court) %></td><!--new_review_pathにtennis_courtに格納された情報を持っていく-->
            <td><%= link_to "レビュー一覧", tennis_court_reviews_path(tennis_court) %></td>
          </tr>
          <% end %>
        </tbody>
    </table>