<h1>ユーザー編集</h1>
 <%= form_with model: @user do |f| %>
 
  <br>image</br>
  <br> <%= f.file_field :profile_image, accept: "image/*" %></br>
  <br>性</br>
  <%= f.text_field :family_name %>

  <br>名</br>
  <%= f.text_field :personal_name %>

  <br>ニックネーム</br>
  <%= f.text_field :nickname %>


   <%= f.submit %>
   <%end%>