 <h3>会員情報</h3>

 <table>
   <thead>
     <tr>
       <th></th>
       <th>名字</th>
       <th>名前</th>
       <th>ニックネーム</th>
       <th>メールアドレス</th>
     </tr>
   </thead>

    <tbody>
     <tr>
       <td><%= image_tag(@user.profile_image.attached? ? @user.profile_image : asset_url('no_image.jpg'), size: '100x100') %></td>
       <td><%= @user.family_name %></td>
       <td><%= @user.personal_name %></td>
       <td><%= @user.nickname %></td>
       <td><%= @user.email %></td>
     </tr>
   </tbody>
</table>

<% if current_user.nickname != "guestuser" %>
   <div class='row'>
     <%= link_to edit_user_path(@user.id),class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" do %>
    <i class="fas fa-user-cog"></i>ユーザー情報編集
     <% end %>
  </div>
<% end %>


<p><%= link_to "マイレビュー一覧", myreview_path(@user.id) %></p>
<p><%= link_to "マイコメント一覧", mycomment_path(@user.id) %></p>
<p><%= render "public/relationships/follow", user: @user,users: @user.followings %></p>

